  <mdb-navbar SideClass="navbar navbar-light navbar-expand-lg navbar-expand-md blue-grey lighten-5">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Home</a></mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
      <ul class="navbar-nav mr-auto" style="color: #000;">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/personal-projects" class="nav-link waves-light" mdbWavesEffect>Personal Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/personal-projects" class="nav-link waves-light" mdbWavesEffect>Professional Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resume" class="nav-link waves-light" mdbWavesEffect>Resume</a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
