<mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/about">About</button>
    <button mat-menu-item routerLink="/personal-projects" >Personal Projects</button>
    <button mat-menu-item routerLink="/professional-projects" >Professional Projects</button>
    <button mat-menu-item routerLink="/resume" >Resume</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>
