
<div id="banner-image">
  <h2>Teri Mathews</h2>
  <h3>UX-UI Web Developer and Designer</h3>
  <h4>Denver, CO</h4>
</div >





  <!-- <section id="mobile-list">
      <mat-nav-list role="navigation" >
        <a mat-list-item href="#"><mat-icon matListIcon>face</mat-icon> &nbsp;Bio</a>
        <a mat-list-item href="#"><mat-icon matListIcon>computer</mat-icon> &nbsp;Software and Skills</a>          
        <a mat-list-item href="#"><mat-icon matListIcon>work</mat-icon> &nbsp;Projects</a>
        <a mat-list-item href="#"><mat-icon matListIcon>description</mat-icon> &nbsp;Resume</a>
        <a mat-list-item href="#"><mat-icon matListIcon>business</mat-icon> &nbsp;Contact</a>
      </mat-nav-list>
  </section> -->

  
  
  
  
  
  