

<div class="background-img display-container animate-opacity text-white">
        <div class="display-top-left padding-large x-large">
          Logo
        </div>
        <div class="display-middle">
          <h1 class="center-text" style="color:black;">TERI MATHEWS</h1>
          <hr class="border-grey" style="margin:auto;width:40%">
          <p class="center-text x-large" style="color:#880E4F;">Web Developer | Web Designer</p>
          
            <button mat-button color="primary">
              Primary</button>
         
        </div>
        <div class="display-bottom-left padding-large">
        </div>
</div>







