

<div class="background-img display-container animate-opacity text-white">
        <div class="display-top-left padding-large x-large">
          Logo
        </div>
        <div class="display-middle">
          <h1 class="center-text">TERI MATHEWS</h1>
          <hr class="border-grey" style="margin:auto;width:40%">
          <p class="center-text">Web Developer | Web Designer</p>
          <button mat-button color="primary" style="border: 1px solid black">
            Primary
          </button>
        </div>
        <div class="display-bottom-left padding-large">
        </div>
</div>







