@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body,h1 {
  font-family: 'Roboto', sans-serif
}

body, html {
  height: 100%;
  margin: 0
}

html{
  box-sizing:border-box
}
*,*:before,*:after{
  box-sizing:inherit
}

html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  margin:0
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block
}


.background-img {
    background-image: url('/assets/designer-background-desktop.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.tiny{font-size:10px!important}
.small{font-size:12px!important}
.medium{font-size:15px!important}
.large{font-size:18px!important}
.xlarge{font-size:24px!important}
.xxlarge{font-size:36px!important}
.xxxlarge{font-size:48px!important}
.jumbo{font-size:64px!important}

.padding-large{
  padding:12px 24px!important
}

.overlay{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;left:0;right:0;bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:2
}
.display-top-left{position:absolute;left:0;top:0}
.display-top-right{position:absolute;right:0;top:0}
.display-bottom-left{position:absolute;left:0;bottom:0}
.display-bottom-right{position:absolute;right:0;bottom:0}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.display-top-middle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.display-bottom-middle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}

.border-grey,.hover-border-grey:hover,.border-gray,.hover-border-gray:hover{
  border-color:#9e9e9e!important
}

.center-text {
  text-align:center!important
}

.text-white,.w3-hover-text-white:hover{
  color:#fff!important
}


.display-container {
  position:relative
}

.animate-opacity{
  animation:opac 0.8s
}
@keyframes opac{
  from{opacity:0} to{opacity:1}}











