@import 'portfolio-theme.scss';


body, html, h1 {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  box-sizing:border-box;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;

}











