<div class="background-img display-container animate-opacity text-white">

  <div class="display-middle">
    <h1 id="hello" class="text-left">Hello,</h1>
    <h1 id="hello" class="text-left">I am</h1>
    <div class="for-mobile">
      <h1 id="teri-title h1-responsive">Teri Mathews</h1>
      <hr class="border-grey">
      <p class="center-text x-large lead">Web Developer | Web Designer</p>
      <p class="center-text">I specialize in bringing fast, intelligent solutions as a UX/UI Developer and Designer to
        any project.</p>
      <div class="image-container">
        <a routerLink="/about" target="_self">
          <img class="image" aria-label="teri bio pic" src="../../assets/TeriProfPic.png">
          <div class="middle">
            <div class="pic-text">about me</div>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div class="display-bottom-left padding-large">
  </div>
</div>
