
<div class="background-img display-container animate-opacity text-white">
  <div class="display-middle">
    <h1 class="center-text">Teri Mathews</h1>
    <hr class="border-grey">
    <p class="center-text x-large">Web Developer | Web Designer</p>
    <div class="image-container">
      <a routerLink="/about" target="_self">
        <img class="image" aria-label="teri bio pic" src="../../assets/TeriProfPic.png">
        <div class="middle">
          <div class="pic-text">about me</div>
        </div>
      </a>
    </div>
  </div>
  <div class="display-bottom-left padding-large">
  </div>
</div>
