<div class="background-img display-container animate-opacity text-white">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-light navbar-expand-lg navbar-expand-md blue-grey lighten-5" >

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Home</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto" style="color: #000;">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/personal-projects" class="nav-link waves-light" mdbWavesEffect>Personal Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/personal-projects" class="nav-link waves-light" mdbWavesEffect>Professional Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/resume" class="nav-link waves-light" mdbWavesEffect>Resume</a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <!--<form class="form-inline waves-light" mdbWavesEffect>-->
        <!--<div class="md-form mt-0">-->
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
        <!--</div>-->
      <!--</form>-->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

  <div class="display-middle">
    <h1 class="center-text">Teri Mathews</h1>
    <hr class="border-grey">
    <p class="center-text x-large">Web Developer | Web Designer</p>
    <div class="image-container">
      <a routerLink="/about" target="_self">
        <img class="image" aria-label="teri bio pic" src="../../assets/TeriProfPic.png">
        <div class="middle">
          <div class="pic-text">about me</div>
        </div>
      </a>
    </div>
  </div>
  <div class="display-bottom-left padding-large">
  </div>
</div>
